[Unit]
Description=Apache Kafka {{ inventory_hostname }}
Documentation=http://kafka.apache.org/documentation.html
After=network.target

[Service]
Type=simple
User={{ kafka_run_user }}
Group={{ kafka_run_group }}
{% if kafka_auth.enable is defined and kafka_auth.enable | bool %}
Environment="KAFKA_OPTS=-Djava.security.auth.login.config={{ kafka_install_dir }}/config/kraft/kafka_server_jaas.conf"
{% endif %}
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_install_dir }}/config/kraft/server.properties 
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh --node-id={{ kafka_id }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
