KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="{{ kafka_auth.admin_password }}"
    user_admin="{{ kafka_auth.admin_password }}"
{% for user in kafka_auth.users %}
    user_{{ user.username }}="{{ user.password }}"{% if loop.last %};{% endif %} 
{% endfor %}
};
