KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="{{ kafka_basic_auth_admin }}"
    user_admin="{{ kafka_basic_auth_admin }}"
{% for item in kafka_basic_auth_users %}
    user_{{ item }}="{{ kafka_basic_auth_users[item] }}"{% if loop.last %};{% endif %} 
{% endfor %}
};
